<!DOCTYPE html>
<html lang="en" > 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script> 
    <script src="./customService.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body ng-app = "moduleName">
    <div ng-controller= "myController" >
        <input ng-model="name" type="text" placeholder="Enter your name">
        <h1>Hello {{name}}</h1>
        <button ng-click="changeName(name)">Change Name</button>
        <h1>{{output}}</h1>

    </div>
    
</body>
</html>